<configuration>
<system.webServer>
    <rewrite>
       <rules>
                <rule name="Angular Routes" stopProcessing="true">
                <match url=".*" />
                <conditions logicalGrouping="MatchAll">
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                  <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
                 
        </conditions>
                <action type="Rewrite" url="/" />
             
      </rule>
          <rule name="Reverse Proxy to api" stopProcessing="true">
            <match url="api/(.*)" />
            <action type="Rewrite" url="https://localhost:8081/{R:0}" />
          </rule>
         
    </rules>
     
  </rewrite>
</system.webServer>
  </configuration>
