<configuration>
<system.webServer>
    <rewrite>
        <rules>
            <rule name="Angular Routes" stopProcessing="true">
                <match url=".*" />
                <conditions logicalGrouping="MatchAll">
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                 
        </conditions>
                <action type="Rewrite" url="/" />
             
      </rule>
          <rule name="Reverse Proxy to api" stopProcessing="true">
            <match url="^api/(.*)" />
            <action type="Rewrite" url="http://localhost:5050/{R:1}" />
          </rule>
         
    </rules>
     
  </rewrite>
</system.webServer>
  </configuration>
